<!DOCTYPE html>
<html>
<head>
    <title>Skills</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/skills">Skills</a></li>
                  <li><a href="/project">Projects</a></li>
                  <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <section id="skills">
        <h2>Skills</h2>
        <div class="skill">
            <h3>Skill1</h3>
            <div class="progress">
                <div class="progress-bar" style="width: 80%;"></div>
            </div>
        </div>
        
        <div class="skill">
            <h3>Skill2</h3>
            <div class="progress">
                <div class="progress-bar" style="width: 90%;"></div>
            </div>
        </div>
        
        <div class="skill">
            <h3>Skill3</h3>
            <div class="progress">
                <div class="progress-bar" style="width: 80%;"></div>
            </div>
        </div>
        
        <div class="skill">
            <h3>Skill4</h3>
            <div class="progress">
                <div class="progress-bar" style="width: 70%;"></div>
            </div>
        </div>

        <div class="skill">
            <h3>Skill5</h3>
            <div class="progress">
                <div class="progress-bar" style="width: 60%;"></div>
            </div>
        </div>
        
        <div class="skill">
            <h3>Skill6</h3>
            <div class="progress">
                <div class="progress-bar" style="width: 95%;"></div>
            </div>
        </div>
    </section>
</body>
</html> 
